#langing-page-banner .tb_title{
    text-align: right !important;
}

#langing-page-banner-title-wrapper{
    width: 100%;
    margin: 0px;
    padding: 10px;
    /*position: absolute;*/
    text-align: right;
}

#langing-page-banner-title{
    padding: 3px;
    font-size:32px;
    font-family:'Gotham Bold';
    color: #000;
    opacity: 0.7;                                                                                                                                   
    opacity: 0.9;          
    margin: 6px 0 0 14px;
    float:left;
    /*position: absolute;*/
    /*background-color: #FFF;*/
}

#langing-page-banner-button a span{
    background-color: #000;
    color: #FFF;
}

#langing-page-banner-button a:hover span{
    background-color: #FFF !important;
    color: #000;
}

#langing-page-banner-title-wrapper > p {
    color: #000;
    display: inline-block;
    font-family: gotham book;
    left: 30px;
    float: right;
    width: auto;
    background: none;
    position: absolute;
    top: 34%;
}