/* Alii css Starts */
#narrow-by-list {
	width: 280px;
	max-width: 280px;
	background: #fff;
	margin: 0;
}
/* by default hide all sub menus */
.cd-accordion-menu ul { 
	display: none;
}
#narrow-by-list dl {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* hide native checkbox */
#narrow-by-list input[type=checkbox] {
	position: absolute;
	opacity: 0;
}
.block-layered-nav .block-content > dl > dt,
.block-layered-nav .block-content > dl > dd li {
	position: relative;
	background: #fff;
	color: #000;
	font-size: 12px;
	line-height: 14px;
	display: block;
	font-weight: 800;
	border-bottom: 1px solid #ccc;
	padding: 6px 5px;
	text-transform: uppercase;
	cursor: pointer;
}
.block-layered-nav .block-content > dl > dd li > a {
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
}
.block-layered-nav .block-content > dl > dd li {
	border: none;
}
.block-layered-nav .block-content > dl > dt::before {
	/* icons */
/*	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 40%;
	font-size: 15px;
	line-height: 17px;
	background: url(../images/image-10.png) no-repeat;*/
}
.block-layered-nav .block-content > dl > dt:hover {
}
.block-layered-nav .block-content > dl > dd li:hover {
	border: none;
}
.block-layered-nav .block-content > dl > dd li a {
	background: none;
}
.block-layered-nav dl dd ol > li > a {
	padding: 3px 0;
}
div.block-layered-nav dd a.amshopby-attr {
	/*background-image: url(../images/amshopby-cb1.gif) !important;
	background-repeat: no-repeat !important;
	padding-left: 15px !important;
	background-position: left center !important;*/
}
.sidebar .block-content {
	padding: 0;
}
/*brands*/
.shopbybrand-title {
	display: none;
}
.shopbybrand-list .brandscategories {
	float: none;
	text-align: center;
}
.shopbybrand-index-index .brandscategories strong {
	float: none !important;
	display: inline;
	padding: 0;
	vertical-align: top;
}
.shopbybrand-index-index .show-child {
	display: none;
}
.shopbybrand-index-index .shopbybrand-list .brandscategories ul li {

	position: relative;
	padding: 0 10px 0 0;
	float: none;
}
.shopbybrand-index-index .shopbybrand-list a {
	color: #ccc !important;
	font-weight: 600;
}
.shopbybrand-index-index .shopbybrand-list a:hover,
.shopbybrand-index-index .shopbybrand-list a .active,.shopbybrand-index-index .shopbybrand-list a.isActiveCate{
	color: #000 !important;
}
.shopbybrand-index-index .shopbybrand-list .filterbar #charaters-list {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	border-bottom: 1px solid#ccc;
	border-top: 1px solid#ccc;
	margin: 8px 0 0;
	padding: 10px 0 8px;
}
.shopbybrand-index-index .shopbybrand-list .filterbar #charaters-list ul li.charlist {
	display: inline-block;
	vertical-align: middle;
	padding: 0 15px 0 0;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	width: inherit;
	height: auto;
}
.shopbybrand-index-index .shopbybrand-list .charlist a {
	transition: all 0.2s ease-in-out 0s;
	padding: 0;
	border-radius: 0;
	color: #000;
	text-align: center;
	width: inherit;
	float: none;
}
.shopbybrand-index-index .shopbybrand-list .charlist a {
	background-color: #fff !important;
	color: #ccc !important;
}
.shopbybrand-index-index .shopbybrand-list .filterbar #charaters-list ul li.charlist a:hover {
	color: #000 !important;
	background: #fff !important;
}
.shopbybrand-index-index .shopbybrand-list .filterbar #charaters-list ul li.isActiveCate a,
.shopbybrand-index-index .shopbybrand-list .filterbar #charaters-list ul li.charlist a.isActiveCate {
	color: #000 !important;
	background: #fff !important;
}
.shopbybrand-list .brandscategories ul {
	display: inline-block;
	float: none !important;
	width: auto !important;
}
.shopbybrand-index-index .shopbybrand-list .brands .brandslist .brand-begin-label strong {
	float: none;
	display: inline-block;
	vertical-align: middle;
	color: #000 !important;

	background: #fff !important;
	margin: 0 !important;
}
.shopbybrand-index-index .shopbybrand-list .brands .brandslist .brand-begin-label {
	border-bottom: 1px solid #eee !important;
}
.shopbybrand-index-index .col .list_1 {
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
	text-align: left !important;
	display: inline-block;
	vertical-align: middle;
}
.shopbybrand-index-index .box {
	white-space: nowrap !important;
	font-size: 12px;
	font-weight: normal;
	padding: 3px;
	color: #666;
}
.shopbybrand-index-index .brandslist col .list_1.number > a {
	color: #666 !important;
}
.shopbybrand-list .brands .brand-not-found{margin-top:200px;}
#custom_menu_3 .banner img {max-width: 100%;}
/*Account */

.customer-account .sidebar .block {
	border: 1px solid #e0e0e0 !important;
}
.customer-account .sidebar .block-title {
	border: none !important;
	margin: 0 !important;
	padding: 10px 15px 10px !important;
	color: #000 !important;
	display:block;
	background:#000 !important;
}
.customer-account .block-account li:hover {
	border: none !important;
	color: #000 !important;
}
.customer-account .block-cms-menu li:hover {
	color: #000 !important;
}
.customer-account .block-account li a:hover,
.block-cms-menu li a:hover {
	color: #000 !important;
}
.customer-account .block-account li strong,
.block-cms-menu li strong {
	color: #000 !important;
}
.customer-account .block-content li {
	position: relative !important;
	z-index: 1;
	color: #000 !important;
	font-size: 13px !important;
	line-height: 15px !important;
	font-weight: normal !important;
	border-width:inherit;
	padding:0;
}
.customer-account .block-content a{
	padding:12px 7px 12px 20px;
	border-bottom:1px solid #dddddd;
}
.customer-account .block-account li.active {
	background:#fff !important;
	border: none !important;
	color: #000 !important;
	font-size: 13px !important;
	line-height: 15px !important;
	font-weight: normal !important;
}
.customer-account .block-account li a, .block-cms-menu li a{
	font-weight:normal !important;
	color:#000 !important;
	font-size:14px;
	line-height:16px;
	font-weight:600;
	font-family:gotham book;
}
/*.customer-account .block-content li:after,
.customer-account .block-account li .current:before {
	position: absolute;
	background: url(images/gender_select_arrow.png) no-repeat;
	width: 28px;
	height: 30px;
	content: '';
	left: auto;
	right: 20px;
	bottom: 0;
	top: 64px;
	z-index: -1;
	transform: rotate(-90deg);
}*/
.customer-account .page-title {
	display: block;
}
.customer-account .welcome-msg strong {
	font-size: 16px !important;
	line-height: 18px !important;
	margin: 0 0 10px;
	display: block;
	text-transform: uppercase;
	font-family:gotham bold !important;
}
.customer-account .dashboard .box-head {
	background: #fff !important;
	border: 1px solid #e0e0e0 !important;
	margin: 0 0 15px 0 !important;
	color: #000 !important;
	text-transform: uppercase;
	width: 742px;
}
.customer-account .my-account .col2-set .col-1 {
	border: 1px solid #e4e4e4;
	padding: 10px 5px;
	margin: 0 10px 0 0 !important;
	width: 49% !important;
	text-transform: uppercase !important;
	color: #000 !important;
	font-size: 13px !important;
	line-height: 15px !important;
	min-height: 150px !important;
}
.customer-account .my-account .col2-set .col-2 {
	margin: 0 !important;
	border: 1px solid #e4e4e4;
	padding: 10px 5px;
	width: 49% !important;
	text-transform: uppercase !important;
	color: #000 !important;
	font-size: 13px !important;
	line-height: 15px !important;
	min-height: 150px !important;
}
.customer-account .dashboard .box-account .col2-set {
	padding: 0 !important;
	width: 742px;
}
.customer-account .sidebar .block-title strong {
	color: #fff !important;
	font-weight:bold;
}
.customer-account .block-account li a,
.customer-account .block-cms-menu li a {
	color: #000 !important;
}
.customer-account .dashboard .box-title a,
.customer-account .dashboard .box-head a {
	color: #000;
	font-size:11px;
	line-height:13px !important;
	font-family: Gotham Book;
}
.customer-account .welcome-msg {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	width: 736px;
}
.welcome-msg p{
	font-style: 14px ! important;
	line-height: 16px;
}
.customer-account #my-orders-table thead th{
	padding:15px 20px !important;
}
/*marketplace-seller-dashboard customer-account*/

.marketplace-seller-dashboard .seller-today-sales .cart_bg {
	padding: 10px 10px 28px !important;
	border: 1px solid #e4e4e4;
	width: 49%;
}
.marketplace-seller-dashboard .seller-sales-income .content_wr ul li p{
	font-weight:400 !important;
}
.marketplace-seller-dashboard .seller-today-sales .Order_bg {
	padding: 10px !important;
	border: 1px solid #e4e4e4;
	min-height: 150px;
	width: 49%;
}
.marketplace-seller-dashboard .seller-today-sales .Order_bg strong, .cart_bg strong {
	color: #808285;
	padding: 0 0 30px 0;
	display: block;
}
.marketplace-seller-dashboard .button.multi_submit{
	background:#000 !important;
	color:#fff !important;
}
.marketplace-seller-dashboard .seller-today-sales .Order_bg i {
	width: 98px;
	height: 98px;
	background: url("images/key-ring.png") no-repeat;
	display: block;
	float: right;
	margin: 15px 20px 0 0;
	position: relative;
}
.marketplace-seller-dashboard .seller-today-sales .cart_bg i {
	width: 104px;
	height: 94px;
	background: url("images/cart.png") no-repeat;
	display: block;
	float: right;
	margin: 15px 20px 0 0;
	position: relative;
}
.marketplace-seller-dashboard .seller-today-sales .Order_bg .left_wr, .cart_bg .left_wr {
	float: left;
	width: 62%;
	margin-left: 0;
}
.marketplace-seller-dashboard .my-account h3 {
	border: none !important;
	background: #fff !important;
	color: #000 !important;
	padding: 10px 0;
	font-size: 15px;
	line-height: 17px;
	font-weight: bold;
	margin: 0 0 10px;
	text-transform: capitalize;
}
.marketplace-seller-dashboard .my-account .content_wr {
	border: 1px solid #dddddd;
}
.marketplace-seller-dashboard .mp_dashboard_container{
	border:1px solid #dddddd;
}
.marketplace-seller-dashboard .mp_dashboard_container.data-table.mp_dashboard_container_viewed{
	border:1px solid #fff;
}
.marketplace-seller-dashboard .seller-sales-income .content_wr ul li {
	padding: 25px 5px;
}
.marketplace-seller-dashboard .seller-sales-income .content_wr ul li strong {
	font-weight: normal;
	color: #808285;
}
.button.btn-cart{
	background:#000 !important;
	color:#fff !important;
}
.marketplace-seller-dashboard .seller-donut-chart .text_wr ul li.red-color, .marketplace-seller-dashboard .seller-donut-chart .text_wr ul li.green-color, .marketplace-seller-dashboard .seller-donut-chart .text_wr ul li.gray-color, .marketplace-seller-dashboard .seller-donut-chart .text_wr ul li.blue-color, .marketplace-seller-dashboard .seller-donut-chart .text_wr ul li.green1-color, .marketplace-seller-dashboard .seller-donut-chart .text_wr ul li.orange-color {
	color: #000;
}
.marketplace-seller-dashboard .seller-donut-chart .total-orders {
	display: none;
}
.marketplace-seller-dashboard body.customer-account .my-account .page-title h1 {
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 10px;
	padding: 0;
}
body.customer-account .data-table td, .data-table th {
	background: #fff;
	text-transform: capitalize;
	color:#000;
}
body.customer-account .data-table {
	margin: 0 !important;
}
.marketplace-seller-dashboard body.customer-account .data-table {
	margin: 0;
}
.marketplace-seller-dashboard body.customer-account .a-center.no_product_content {
	color: #f0535e;
}
.marketplace-seller-dashboard .my-account .mp_seller_sales_report_wr #select_filter {
	color: #000;
	background:#fff url("../images/arrow-01-.png") no-repeat scroll right 4px center;
	border:1px solid #e4e4e4;
	-moz-appearance:none;
	text-align:left;
	outline: none;
}
.marketplace-seller-dashboard .my-account .mp_seller_sales_report_wr .txtbox {color: #000;border: 1px solid #e4e4e4;padding: 3px 15px 3px 6px;width: 120px;border-radius: 2px;text-align: left;height: 32px;margin-top: -2px;}
.marketplace-seller-dashboard .my-account .mp_seller_sales_report_wr .input-box label { margin-left: -28px;margin-top: -1px;}
.marketplace-seller-dashboard .my-account .mp_seller_sales_report_wr .select2-selection--single .select2-selection__rendered {color: #000;line-height: 28px;font-size: 12px;font-family: 'Gotham Light';}
.marketplace-seller-dashboard .my-account .mp_seller_sales_report_wr .input-box {float: left;}
.marketplace-seller-dashboard .my-account .mp_seller_sales_report_wr button {font-size: 12px;height: 29px;}
.mp_dashboard_container data-table {text-transform: capitalize;}
.marketplace-seller-dashboard .mp_seller_sales_report_wr {position: relative;width: 58.7%;float: right;}
/*Manage Products*/
.marketplace-product-manage .my-account-wrapper {
	border: 1px solid #e0e0e0;
}
body.customer-account .my-account .page-title h1 {
	font-size: 18px;
	line-height: 20px;
	color: #000;
	margin: 0 0 10px;
	padding: 0;
	font-family:gotham bold;
}
.marketplace-product-manage #market_place_manage_products .top_amount {
	padding: 0 0 20px;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #000;
	font-family:gotham book;
}
.marketplace-product-manage #market_place_manage_products #multiple_select select {
	width: 135px;
	height: 30px;
	border: 1px solid #d5d5d5;
	background:#ededed url("../images/arrow-01-.png") no-repeat scroll right 6px center;
	-moz-appearance:none;
	outline: none;
}
.marketplace-product-manage #my-product-table thead th,
#my-orders-table thead th{
	padding:15px 5px;
	font-size:13px;
	line-height:15px;
	font-family:gotham bold;
	color:#000;
}
.marketplace-product-manage th select{
	min-width:130px;
	min-height:23px;
}
.marketplace-product-manage #market_place_manage_products .mp_action button {
	top: 1px;
	min-width: 80px;
	background: #000;
	margin: 0 0 0 10px;
}
.marketplace-product-manage #market_place_manage_products .mp_addnew_pdt {
	margin: 0 0 0 12px;
	background: #000;
}
.marketplace-product-manage #market_place_manage_products .mp_action b {
	font-size: 14px;
	line-height: 16px;
	color: #000;
	font-weight: normal;
}
.marketplace-product-manage #market_place_manage_products .mp_action {
	margin: 0 0 30px;
}
.marketplace-product-manage #market_place_manage_products table thead .mp_filter_function th {
	background: #fff;
	border: none !important;
}
.marketplace-product-manage .marketplace-product-new customer-account .my-account .fieldset input[type="email"],
.marketplace-product-manage .marketplace-product-new customer-account .my-account .fieldset input[type="search"],
.marketplace-product-manage .marketplace-product-new customer-account .my-account .fieldset input[type="number"],
.marketplace-product-manage .marketplace-product-new customer-account .my-account .fieldset input[type="password"],
.marketplace-product-manage .marketplace-product-new customer-account .my-account .fieldset input[type="tel"],
.marketplace-product-manage .marketplace-product-new customer-account .my-account .fieldset input[type="text"] {
color: #000 !important;
border:1px solid #e7e7e7;
}
.marketplace-product-manage input, select, textarea {
	background: #fff;
	color: #000;
}
.marketplace-product-manage .market_place_manage_products_table thead th {
	text-align:left;
}
.marketplace-product-manage #market_place_manage_products table tbody td {
	padding: 25px 10px 30px;
	color: #000;
	font-size: 12px;
	line-height: 14px;
	font-family:gotham book;
}
.marketplace-product-manage .pager{
	margin:0 !important;
}
.marketplace-product-manage .pager .limiter{
	height:auto !important;
}

.marketplace-sellerproduct .form-list select#inventory_stock_availability, .form-list select#default_country, .form-list select#seller_shipping, .form-list select#product_type{
	 width:367px;
}
.select.validate-select{
	background:#fff url("../images/arrow-01-.png") no-repeat scroll right 6px center;
	-moz-appearance:none;
	border:1px solid #e4e4e4;
}
.button{
	background:#000;
}
.marketplace-sellerproduct-create .styled-select select{
	-moz-appearance:none;
	padding:5px 25px 5px 5px;
}
/*orders*/

.marketplace-order-manage #market_place_manage_products_order h1 {
	font-size:14px;
	line-height:16px;
	color: #000;
	margin: 0 0 5px;
	font-family:Gotham bold;
}
.marketplace-order-manage #market_place_manage_products_order {
	color: #000;
	padding: 0 !important;
	font-weight: normal;
}
.marketplace-order-manage .data-table{
	border:1px solid #ddd;
	width:100%;
}
.marketplace-order-manage .page-title.sellers_store h1{
	width:100%;
}
.marketplace-order-manage #market_place_manage_products_order table thead th {
	padding: 10px 13px;
	font-size:12px;
	line-height:14px;
	font-family:Gotham bold;
	width: 100%;
}
.marketplace-order-manage #market_place_manage_products_order table thead tr{
	border-bottom:1px solid #e7e7e7;
}
.marketplace-order-manage #market_place_manage_products_order table td span{
	font-size:12px;
	line-height:14px;
	font-family:Gotham book;
}
.marketplace-order-manage #market_place_manage_products_order .top_amount{
	font-size:12px;
	line-height:14px;
	font-family:gotham book;
	color:#000;
}

body.customer-account .data-table td a{
	text-transform:capitalize;
	font-size:12px;
	line-height:14px;
	font-family:gotham book;
	display: inline-block;
}
.marketplace-order-manage td {
	padding: 20px 0;
	color: #f8525b;
}
.marketplace-order-manage .top_amount{
	font-weight:normal !important;
}
/*Transaction History*/
.marketplace-order-viewtransaction #mp_order_transaction h1 {
	font-size: 18px;
	line-height: 20px;
	color: #000;
	padding: 0 !important;
	margin: 0 0 15px !important;
	font-weight: bold;
	width:100%;
}
.marketplace-order-viewtransaction #mp_order_transaction .top_amount {
	padding:0 0 10px 0 !important;
	font-weight: normal;
	color: #000;
}
.marketplace-order-viewtransaction #my-orders-table thead th {
	padding: 10px 25px;
	width: auto !important;
	color: #000;
}
.marketplace-order-viewtransaction td {
	padding: 20px 0 !important;
	color: #f8525b;
}
body.customer-account .data-table{
	border:1px solid #e7e7e7;
	margin:0 0 5px;
	/*width: 724px;*/
	width: 100%;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    background-color: #EEEEEE;
}
/*My Profile*/
.marketplace-seller-addprofile .my-account-wrapper {
	padding: 15px 0 0 0!important;
}
.marketplace-seller-addprofile .form-list {
	border-right: 1px solid #e4e4e4 !important;
	border-left: 1px solid #e4e4e4 !important;
	border-top: 1px solid #e4e4e4 !important;
	padding: 0 20px !important;
}
.marketplace-seller-addprofile form .legend {
	font-size: 16px;
	line-height: 18px;
	color: #000;
	text-transform:capitalize;
	font-family:gotham bold;
	border:none;
	padding:0;
}
.marketplace-seller-addprofile form .form-list select {
	background: #fff url(../images/arrow-01-.png) no-repeat right 12px center;
	width: 330px !important;
	color: #9e9e9e;
	-moz-appearance:none;
	-webkit-appearance:none;
	border:1px solid #e7e7e7;
	margin: 0 11px 0 0;
}
.marketplace-seller-addprofile form .market_place_image_sizes {
	padding: 5px 0;
	color: #000;
	font-weight: normal;
}
.marketplace-seller-addprofile form input {
	height: auto;
	color: #989898;
	width: inherit;
	padding: 0 !important;
}
.marketplace-seller-addprofile .input-box.market_place_payment_process {
	color: #919191;
}
.marketplace-seller-addprofile .input-box.market_place_payment_process > label {
	color: #919191;
}
.marketplace-seller-addprofile .buttons-set {
	padding: 0 20px 20px !important;
	margin: 0 !important;
	border-right: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top:1px solid transparent;
}
.marketplace-seller-addprofile .nicEdit-panel{
	display:none;
}
.marketplace-seller-addprofile .required {
	display: none;
}
.marketplace-seller-addprofile .buttons-set button.button {
	background: #191919;
}
.marketplace-seller-addprofile .checkbox-info > label {
	display: inline;
}
.marketplace-seller-addprofile .my-account-wrapper input[type="checkbox"] {
	margin: 0 3px 0 0;
}
.marketplace-seller-addprofile .input-box span {
	color: #858585 !important;
	font-size:14px !important;
	line-height:16px;
	font-family:gotham book;
	margin-top:6px;
}
.marketplace-seller-addprofile .validate-phoneLax.input-text.required-entry{
	border:1px solid #e7e7e7;
}
.marketplace-seller-addprofile #addprofile .input-text.required-entry{
	border:1px solid #e4e4e4;
	font-family:gotham book;
	width:330px;
	height:auto;
	color:#000;
	padding:5px !important;
}
.marketplace-seller-addprofile .input-box textarea{
	width:675px;
	border:1px solid #e4e4e4;
	height:134px;
}
/*marketplace-contact-form*/

.marketplace-contact-form form .legend {
	margin: 0 0 15px !important;
	padding: 0 !important;
	font-size: 16px !important;
	line-height: 18px !important;
	color: #000 !important;
}
.marketplace-contact-form .form-list .field {
	margin: 0 !important
}
.marketplace-contact-form .form-list > li {
	margin: 0;
}
.marketplace-contact-form .buttons-set button.button {
	background: #000;
	min-width: 100px;
	color:#fff;
}
.marketplace-contact-form .my-account > form {
	border: 1px solid #e7e7e7;
	padding: 15px;
}
.buttons-set p.required {
	display: none;
}
.marketplace-contact-form .input-box {
	width: 600px !important;
}
.marketplace-contact-form .buttons-set{
	border:none !important;
}
.marketplace-contact-form form .legend{
	border:none !important;
}
.marketplace-contact-form .input-text.required-entry{
	border:1px solid #e4e4e4;
}
/*vacation mode*/

.marketplace-general-vacationmode .my-account-wrapper {
	padding: 10px 0 0 0 !important;
}
.marketplace-general-vacationmode .my-account form .legend {
	font-size: 16px;
	line-height: 18px;
	color: #000;
	font-weight: normal;
	border: none;
	padding: 0;
	margin: 0 0 15px;
}
.marketplace-general-vacationmode .input-box {
	padding: 0 !important;
	color: #c3c3c3;
	margin: 0 0 20px !important;
}
.marketplace-general-vacationmode input {
	display: inline;
	width: inherit;
	margin: 0 11px 0 7px;
	top: 10px;
	color: #000;
}
.marketplace-general-vacationmode .required {
	color: #000;
	margin: 0 0 10px;
	padding: 0 !important;
}
.marketplace-general-vacationmode .input-text {
	width: 685px;
	border: 1px solid #e7e7e7;
	border-radius: 0 !important;
	font-size: 15px;
	line-height: 17px;
	margin: 0 0 20px;

}
.marketplace-general-vacationmode .field {
	margin: 0 !important;
}
.marketplace-general-vacationmode .required-entry.validate-date.validate-date-range.date-range-date-to {
	min-width: 170px;
	border: 1px solid #e7e7e7;
	color: #000;
}
.marketplace-general-vacationmode .required-entry.validate-date.validate-date-range.date-range-date-from {
	min-width: 170px;
	color: #000;
	border: 1px solid #e7e7e7;
}
.marketplace-general-vacationmode #vacation_mode .input-box img {
	left: 200px;
}
.marketplace-general-vacationmode .vacation_mode {
	border: 1px solid #e7e7e7;
	padding: 15px;
}
/*sales-order-history*/

.sales-order-history .back-link {
	display: none;
}
.sales-order-history .my-account {
	border: 1px solid #e7e7e7;
}
.sales-order-history .page-title {
	margin: 0 0 15px;
}
.sales-order-history .buttons-set{
	border:none;
}

/* review-customer-index*/

.review-customer-index .my-account {
	border: 1px solid #e7e7e7;
}
.review-customer-index .page-title {
	margin: 0 0 15px;
}
.review-customer-index .buttons-set{
	border:none !important;
}

/* wishlist-index-index*/
.wishlist-index-index .my-account {
	border: 1px solid #e7e7e7;
}
.wishlist-index-index .page-title {
	margin: 0 0 15px;
}
.wishlist-index-index .buttons-set{
	border:none !important;
}

/*oauth-customer-token-index*/

.oauth-customer-token-index .my-account {
	border: 1px solid #e7e7e7;
}
.oauth-customer-token-index .page-title {
	margin: 0 0 15px;
}
/*downloadable-customer-products*/

.downloadable-customer-products .my-account {
	border:1px solid #e7e7e7;
}

/*customer-account-edit*/

.customer-account-edit .scaffold-form{
	border: 1PX solid #E7E7E7;
}
.customer-account-edit form .legend{
	color:#000;
	font-weight:normal;
	border:none !important;
}
.customer-account-edit .fieldset p.required{
	display:none;
}
.customer-account-edit .checkbox{
	margin:0 15px 0 0 !important;
	width:inherit !important;
	display:inherit !important;
	float:left !important;
	color:#000 !important;
	top:0 !important;
}
.customer-account-edit .buttons-set{
	border:none !important;
}	

/*customer-address-form*/

.customer-address-form .scaffold-form{
	border:1px solid #e7e7e7;
}
.customer-address-form form .legend{
	color:#000;
	font-weight:normal;
	border:none;
}
.customer-address-form .fieldset p.required{
	display:none;
}
.customer-address-form .form-list select{
	
}

/*newsletter-manage-index*/

.newsletter-manage-index .checkbox{
	margin:0 15px 0 0 !important;
	width:inherit !important;
	display:inherit !important;
	float:left !important;
	color:#000 !important;
	top:0 !important;
}
.newsletter-manage-index .my-account > form{
	border:1px solid #e7e7e7 !important;
	padding:15px !important;
}
.newsletter-manage-index .my-account .form-list{
	border:none !important;
	padding:0 !important;
}
.newsletter-manage-index .buttons-set{
	border: none !important;
}

/*sales-recurring-profile-index*/

.sales-recurring-profile-index .my-account{
	border:1px solid #e7e7e7;
}
.sales-recurring-profile-index .buttons-set{
	border:none !important;
}

/*sales-billing-agreement-index*/

.sales-billing-agreement-index .my-account{
	border:1px solid #e7e7e7 !important;
}
.sales-billing-agreement-index .buttons-set{
	border:none !important;
}

/*marketplace-product-new*/

.marketplace-product-new .last-collapse > input{
	width:20px;
	height:15px;
}
.marketplace-product-new .level-top.parent > input{
	width:15px !important;
	height:15px !important;
}
.marketplace-product-new .level-top.parent > label{
	display:inline !important;
}
.marketplace-product-new ul.category_ul input[type="checkbox"]{
	top:1px !important;
}
.marketplace-product-new .last-collapse > label{
	display:inline;
}
.marketplace-product-new .nicEdit-panel{
	display:none !important;
}
.marketplace-product-new .market_place_add_image > input{
	height:auto;
}
.end-plus{
	top:-2px;
	background:url("../images/plus.png") no-repeat;
}
.end-minus{
	background: url("../images/plus.png") no-repeat scroll 0 -13px;
}
.marketplace-product-new .validate-date.validate-date-range.date-range-date-from{
	border:1px solid #e7e7e7;
}
.marketplace-product-new .validate-date.validate-date-range.date-range-date-to{
	border:1px solid #e7e7e7;
}
.marketplace-product-new .fieldset.marketplace-custom-option > div h3{
	color:#b99a6b;
}
.marketplace-product-new textarea{
	background:#fff !important;
	width:400px;
	border:1px solid #e4e4e4;
}
.marketplace-product-new .Select{
	background:#fff;
	border:1px solid #e4e4e4;
}
.marketplace-product-new .button{
	background:#000;
	color:#fff;
}
.marketplace-product-new .input-text{
	border:1px solid #e4e4e4;
}
.marketplace-product-new .required-entry.input-text{
	border:1px solid #e4e4e4;
}
.styled-select select{
	padding:5px 25px 5px 5px;
	-moz-appearance:none;
	color:#fff;
}
.marketplace-product-new .select.select.input-text.required-entry.input-text_pro{
	-moz-appearance:none;
	background:#fff url("../images/arrow-01-.png") no-repeat scroll right 6px center;
	outline: none;
}
.marketplace-product-new .Select{
	-moz-appearance:none;
	background:#fff url("../images/arrow-01-.png") no-repeat scroll right 6px center;
	outline: none;
}


/*marketplace-product-manage*/
.marketplace-product-manage .mp_filter_function.last input{
	background:#ededed;
}
.marketplace-product-manage .bulk_order_options > h3{
	font-size:15px;
	line-height:17px;
	color:#000;
	font-weight:700;
	margin:15px 0;
}
.marketplace-product-manage .bulk-product-upload-form{
	border:1px solid #e7e7e7;
}
.marketplace-product-manage .required-file.bulk-product-upload-file{
	height:auto;
}
.marketplace-product-manage .bulk-product-upload-file{
	height:auto;
}
.marketplace-product-manage .bulk_order_options > h4{
	display:none
}

/*marketplace-product-edit*/
.marketplace-product-edit .last-collapse > input{
	width:15px !important;
	height:15px !important;
}
.marketplace-product-edit .last-collapse > label{
	display:inline !important;
}
.marketplace-product-edit .level-top.parent > input{
	width:15px;
	height:15px;
}
.marketplace-product-edit .level-top.parent > label{
	display:inline !important;
}
.marketplace-product-edit .nicEdit-panel{
	display:none;
}
.marketplace-product-edit .required-entry.input-text{
	border:1px solid #e7e7e7;
}
.marketplace-product-edit .validate-zero-or-greater.input-text{
	border:1px solid #e7e7e7;
}
.marketplace-product-edit .validate-date.validate-date-range.date-range-date-from{
	border:1px solid #e7e7e7;
}
.marketplace-product-edit .validate-date.validate-date-range.date-range-date-to{
	border:1px solid #e7e7e7;
}
.marketplace-product-edit textarea{
	width:400px;
	border:1px solid #e7e7e7;
}
.marketplace-product-edit .select{
	border:1px solid #e7e7e7;
	background:#fff url("../images/arrow-01-.png") no-repeat scroll right 6px center;
	-moz-appearance:none;
}
.marketplace-product-edit .dont-remove.market_place_option-box{
	border:1px solid #e7e7e7;
}
.marketplace-product-edit #marketplace_custom_option_list .border tr.headings th, #marketplace_downloadable_product_div .mp_dp_fields .marketplace-sample tr.headings th{
	border-width:none;
	border-style:none;
	background:#fff;
}
.marketplace-product-edit #marketplace_custom_option_list .border{
	border:none !important;
}
.marketplace-product-edit .input-text.validate-number.product-option-price,
.marketplace-product-edit .input-text.type-sku{
	border:1px solid #e7e7e7;
}
/*marketplace-product-new*/

.marketplace-product-new .desc_add_field_btn{
	background:none !important;
	outline: 0;
}
.marketplace-product-new .form-list .headings span label,
.marketplace-product-new  #marketplace_downloadable_product_div .headings span label{
	display:inline-block !important;
	float:none;
	padding:0 10px 5px 0;
	margin:0;
}
.marketplace-product-new .market_place_add_image > input{
	display:inline;
	width:auto;
}
.marketplace-product-new .required{
	display:inline-block;
}
.marketplace-product-new span.required:after{
	display:none !important;
}
#marketplace_downloadable_product_div .mp_dp_fields .marketplace-sample tr.headings th{
	padding:10px !important;
}
#marketplace_downloadable_product_div .radio.validate-one-required-by-name{
	width:15px;
	height:15px;
	display:inline;
}
#marketplace_downloadable_product_div #sample_items_body .files-wide .validate-downloadable-file{
	height:auto;
	width:auto;
}
#marketplace_downloadable_product_div .row{
	padding:5px 15px;
}
#marketplace_downloadable_product_div .marketplace-sample .data{
	border:1px solid #e4e4e4;
}
#marketplace_downloadable_product_div #sample_items_body td{
	vertical-align:top !important;
}
#marketplace_downloadable_product_div .downloadable_link_purchase_type{
	-moz-appearance:none;
	background:#fff url("../images/arrow-01-.png") no-repeat scroll right 6px center;
	border:1px solid #e4e4e4;
}


/* marketplace-sellerproduct-selectattributes*/

.marketplace-sellerproduct-selectattributes .attribute-checkbox.validate-one-required-by-name{
	width:15px;
	height:15px;
	margin:0;
}
.marketplace-sellerproduct-selectattributes .fieldset.marketplace-product-type label{
	display:inline;
	vertical-align:top;
}

/* customer-address-index*/

.customer-address-index .col-1.addresses-primary > h2{
	padding:5px 10px;
	margin:0 0 10px;
}
.customer-address-index .col-1.addresses-primary > ol{
	padding:0 10px;
}
.customer-address-index .item > h3{
	margin:0 0 5px;
}
.customer-address-index ol address br{
	margin:0 0 5px;
}
.customer-address-index .my-account .addresses-list .item{
	margin:0 0 10px;
}
.customer-address-index .col-2.addresses-additional > h2{
	margin:0;
	padding:5px 10px;
}
.customer-address-index .col-2.addresses-additional > ol{
	padding:0 10px;
}

#newsletter_signup_footer .newsletter_female_signup_submit{
	color:#fff;
}

#newsletter_signup_footer .newsletter_female_signup_submit:hover{
	background:#2e8ab8;
	color:#fff;
}
.customer-account-edit .input-text.required-entry.validate-email{
	border:1px solid #e7e7e7;
}
.block-account li.current{
	background:#fff;
}
.block-account li strong{
	font-weight:normal;
}

.marketplace-product-edit .market_place_add_image > input{
	height:auto;
	margin:0 0 5px;
}
.marketplace-product-edit .desc_add_field_btn{
	background:#fff;
	margin:0 0 5px 0;
}
.sales-order-history #my-orders-table thead th, #my-orders-table tbody td{
	padding:15px;
	text-align:center;
	width:150px;	
}
.marketplace-order-manage #market_place_manage_products_order table tbody td, #my-orders-table tr td{
	text-align:center;
	font-size:12px;
	line-height:14px;
	font-family:gotham book;
}
.customer-account-index #my-orders-table thead th, #my-orders-table tbody td{
	width:150px;
	text-align:center;
}
.marketplace-product-manage .nobr{
	display:block;
	width:32px;
}
.marketplace-product-manage .my-account #market_place_manage_products table tbody td:last-child em a{
	display:inline-block;
	float:none;
	margin:0;
}
.marketplace-product-manage .my-account-wrapper input[type="checkbox"]{
	top:0;
}
/*popap*/

.mainUnavailableSize {
	width:100%;
	margin: 0 auto;
	padding:0px 4px 0 10px;
}
#mainUnavailableSize input, #mainUnavailableSize  textarea, #mainUnavailableSize select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
.modal-header{
	padding:15px 30px;
}
.modal-body{
	padding:5px 15px;
}

#headerUnavailablesize{
	overflow:hidden;
}
#headerUnavailablesize h1{
	font-size:25px;
	line-height:27px;
	margin:0 0 15px;
	font-weight:500;
	width:400px;
	float:left;
}
#mainUnavailableSize {
	overflow:hidden;
	padding:10px 0 0 0;
}
#mainUnavailableSize .mail{
	background:#fff url(../images/mail.jpg) no-repeat scroll left 6px center;
	border:1px solid #ddd;
	font-size:14px;
	line-height:16px;
	padding:10px 10px 10px 30px;
	min-width:500px;
	height:auto;
	display:inline-block;
	margin:0 0 20px;

}
#mainUnavailableSize .size{
	background:#fff;
	border:1px solid #ddd;
	font-size:14px;
	line-height:16px;
	padding:0 20px 0 10px;
	min-width:500px;
	height:auto;
	margin:0 0 20px;
	display:inline-block;
	-moz-appearance:none;
}
#mainUnavailableSize select option{
	font-weight:bold;
	padding:10px 15px;
}
#mainUnavailableSize select  {
	width:502px;
	border:1px solid #ccc;
    line-height: 1;
	font-size:15px;  
	outline: none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding:0 15px;
	position:relative;
	z-index:1;
	background:#fff url(../images/arrow-01-.png) no-repeat scroll right 15px center;
	margin:0 0 40px;
}
#mainUnavailableSize select:focus{
	background:#fff url(../images/arrow2.png) no-repeat scroll right 15px center;
}
#mainUnavailableSize select option:hover{
	color:#000;
	background:#e7e7e7;
}
#mainUnavailableSize select option span{
	color:#ccc;
}
#mainUnavailableSize .example{
  width:18px;
  height:auto;
  float:left;
  margin:2px 0 0 0;
}

#mainUnavailableSize input[type=checkbox]:not(old),
#mainUnavailableSize input[type=radio   ]:not(old){
  width     :inherit;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  display:none;
}

#mainUnavailableSize input[type=checkbox]:not(old) + label,
#mainUnavailableSize input[type=radio   ]:not(old) + label{
  display      : inline-block;
  line-height  : 1.5em;
}

#mainUnavailableSize input[type=checkbox]:not(old) + label > span,
#mainUnavailableSize input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 1px solid #e7e7e7;
  background       : #000;
  vertical-align   : bottom;
}

#mainUnavailableSize input[type=checkbox]:not(old):checked + label > span,
#mainUnavailableSize input[type=radio   ]:not(old):checked + label > span{
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
}

#mainUnavailableSize input[type=checkbox]:not(old):checked + label > span:before{
  content     : '';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  font-weight : bold;
}

#mainUnavailableSize input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : #fff;
}
#mainUnavailableSize .add{
	width:310px;
	float:left;
}
#mainUnavailableSize .add h2{
	font-size:13px;
	line-height:15px;
	font-weight:normal;
	float:left;
	margin:7px 0 3px 0;
}
#mainUnavailableSize .add p{
	font-size:13px;
	line-height:15px;
	color:#ccc;
}
#mainUnavailableSize .add p a{
	color:#ccc;
	text-decoration:underline;
}
#mainUnavailableSize .post{
	float:right;
	width:190px;
}
#mainUnavailableSize .post .send{
	width:160px;
	color:#fff;
	height:35px;
	font-size:16px;
	line-height:18px;
	display:block;
	padding:7px 15px;
	border-radius:20px;
	font-weight:bold;
	background:#222 url(../images/image-01.png) no-repeat scroll right 20px center;
	float:right;
}
#mainUnavailableSize .post .send:hover{
	opacity:0.5;
}
#headerUnavailablesize .cross{
	width:25px;
	height:25px;
	background:#fff url(../images/cross.png) no-repeat scroll right 7px center;
	float:right;
}
#headerUnavailablesize .cross:hover{
	border:1px solid #222;
	border-radius:50%;
	width:25px;
	height:25px;	
}
.marketplace-product-manage #my-product-table{
	border-collapse:separate;
}
.marketplace-product-manage #my-product-table .search-fields input {
    border: 1px solid #bdbdbd;
}
.marketplace-product-manage #my-product-table .search-fields div.active {
    cursor: progress;
    padding: 7px 40px 7px 15px;
    position: relative;
}
.marketplace-product-manage #my-product-table .search-fields div.active .spinner {
    display: block !important;
    position: absolute;
    right: 10px;
}
.marketplace-product-manage #my-product-table .search-fields div.active .spinner img {
    width: 20px;
    height: 20px;
}
.multiple_select {
    position: relative;
}
.multiple_select .table_spinner {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    z-index: 500;
    top: 50%;
}
.marketplace-product-manage #my-product-table.active {
    opacity: 0.3;
}
.customer-account-index .nobr{
	font-family:gotham book;
}
.customer-account-index .page-title h1{
	display:none;
}
.customer-account-index .box-title > h3{
	font-size: 13px !important;
	line-height:17px;
	font-family:gotham bold;
	padding:0 0 0 10px;
}
.customer-account-index .box-content{
	padding:0 10px;
}
#addprofile .payment-snipt input.radio{
	margin:7px 6px 0 0;
}
.marketplace-seller-addprofile #addprofile .payment-snipt .market_place_payment_process i{
	font-style:italic;
	font-family:gotham book;
	font-weight:bold;
	word-spacing:-2px;
	display:inline-block;
	width:100%;
}
.marketplace-seller-addprofile #addprofile .input-box > div{
	 width: 675px !important;
	 border:1px solid #e7e7e7;
}
.marketplace-seller-addprofile #addprofile .input-box .nicEdit-panelContain{
	display:none;
}
.marketplace-general-changebuyer .box-account.box-info{
	border-top:1px solid #e7e7e7;
	padding:10px;
}
.marketplace-general-changebuyer #buyer-seller .input-box .checkbox.required-entry{
	width:10px;
	height:10px;
	float:left;
	top:5px;
}
.marketplace-general-changebuyer #buyer-seller .input-box > label{
	float:left;
}

.marketplace-sellerreview-customerreview .my-account{
	border:1px solid #e7e7e7;
	padding:10px;
}
.marketplace-sellerreview-customerreview .my-account h2{
	font-size:18px;
	line-height:20px;
	margin:0 0 10px;
	color:#000;
	font-family:gotham bold;
}
.customer-account  .my-account label{

}
.marketplace-contact-form .wide textarea.required-entry.input-text{
	min-width:590px;
	min-height:140px;
}
.marketplace-contact-form .field .input-box .input-text.required-entry{
	width:380px;
}
body.customer-account .my-account .fieldset h2{
	font-family:gotham bold;
}
.dashboard .col2-set .col-1 .box-title,
.dashboard .col2-set .col-2 .box-title{
	padding-bottom:20px;
}

.dashboard .col2-set .col-1 .box-title a,
.dashboard .col2-set .col-2 .box-title a{
	padding:0;
	top:0;
	right:10px;
}
.sales-order-history .nobr{
	font-family:gotham bold;
}
/*start size-guide*/
.custom-size-guide .container{
	padding:10px;
	width: 1000px;
	margin: 0 auto;
}
.custom-size-guide #side-bar{
	width:245px;
	float: left;
}
.custom-size-guide #side-bar h2{
	font-family:'Gotham Bold';
	font-size:18px;
	line-height:20px;
	color:#FFF;
	background:#000;
	padding:14px 10px 14px 14px;
}
.custom-size-guide #side-bar .item{
	text-transform: uppercase;
	color: #000;
}
.custom-size-guide #side-bar .item ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.custom-size-guide #side-bar .item ul li{
	border: 1px solid #e1e1e1;
	font-size: 15px;
	line-height: 16px;
}
.custom-size-guide #side-bar .item ul li a{
	padding: 10px 14px;
	display: block;
	outline: none;
}
.custom-size-guide #content{
	font-size: 15px;
	line-height: 17px;
	color: #000;
	float: right;
	width: 745px;
	padding: 10px 0 0 6px;
	font-family:'Gotham Book';
}
.custom-size-guide #content h2{
	font-size: 18px;
	line-height:20px;
	color: #000;
	font-family: 'Gotham Bold';
	margin: 0 0 18px;
}
.custom-size-guide #content p{
	font-size: 13px;
	line-height:15px;
	margin: 0 0 22px;
	color: #000;
}
.custom-size-guide #content .detail{
	border: 1px solid #e1e1e1;
	padding: 10px 10px 10px 13px;
	color: #000;
	margin: 0 0 25px;
}
.custom-size-guide #content .babies{
	margin: 0 0 15px;
}
.custom-size-guide #content .babies table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
}
.custom-size-guide #content .babies table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px;
}
.custom-size-guide #content .children{
	margin: 0 0 15px;
}
.custom-size-guide #content .children table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
}
.custom-size-guide #content .children table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px;
}
.custom-size-guide #content .teen-boys{
	margin: 0 0 15px;
}
.custom-size-guide #content .teen-boys table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .teen-boys table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px;
}

.custom-size-guide #content .teen-girls table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .teen-girls table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px;
}
.custom-size-guide #content .info h2{
	font-size: 18px;
	line-height: 20px;
	color: #000;
	font-family: 'Gotham Bold';
	margin:0 0 10px !important;
}
.custom-size-guide #content .infant{
	margin: 0 0 15px;
}
.custom-size-guide #content .infant table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .infant table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px;
}
.custom-size-guide #content .title{
	border: 1px solid #e1e1e1;
	padding: 10px 10px 10px 13px;
	color: #000;
}
.custom-size-guide #content .toddler{
	margin: 0 0 15px;
}
.custom-size-guide #content .toddler table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .toddler table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px
}
.custom-size-guide #content .junior table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .junior table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px
}
.custom-size-guide #content .clothing{
	margin: 0 0 15px;
}
.custom-size-guide #content .clothing table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .clothing table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px
}
.custom-size-guide #content .trousers{
	margin: 0 0 15px;
}
.custom-size-guide #content .trousers table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .trousers table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px
}
.custom-size-guide #content .shoes table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .shoes table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px
}
.custom-size-guide #content .clothinng table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .clothinng table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px
}
.custom-size-guide #content .women-shoes table th{
	font-size: 16px;
	line-height:18px;
	font-family:'Gotham Bold';
	margin: 0;
	padding: 3px 13px 13px;
	text-transform: uppercase;
	width: 200px;
}
.custom-size-guide #content .women-shoes table td{
	width: 100px;
	border: 1px solid #e1e1e1;
	color: #000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	padding: 10px
}
.sg_block_content.sg_women_block{
	display: none;
}
.sg_block_content.sg_men_block{
	display: none;
}
.cms-no-route .std.page-title h1{
	display: none !important;
}
.orderTitlstbs{
	padding: 10px 0;
	font-family:'Gotham Book';
	font-size: 13px;
	line-height: 15px;
	color: #000;
	font-weight: bold;
}
.customer-address-form .fieldset .form-list > li{
	display: inline-block !important;
	vertical-align: top;
}
.customer-address-form .fieldset .form-list .field, .form-list .wide, .form-list .control{
	display: inline-block !important;
	vertical-align: top;
}
.customer-address-form .form-list .cust_zip_country .field{
	display: inline-block;
	vertical-align: top;
}
.customer-address-form .form-list .cust_zip_country input[type="text"] {
	margin: 0 10px 0 0;
}
.customer-address-form .form-list .cust_company_name input[type="text"] {
	width: 198px;
}
.customer-address-form .form-list .cust_tele_fax_no .input-text.required-entry{
	width: 198px;
}
.customer-address-form .form-list .fields.cust_zip_country{
	vertical-align: middle;
}
.customer-address-form .form-list .default_billing_add.control{
	vertical-align: middle;
}
.customer-address-form .form-list .name-firstname input[type="text"]{
	width: 300px;
}
.customer-address-form .form-list .name-lastname input[type="text"]{
	width: 300px;
}
.customer-address-form .form-list .cust_add_one input[type="text"]{
	width: 300px;
}
.customer-address-form .form-list .cust_add_two input[type="text"]{
	width: 300px;
}
.customer-address-form .form-list .cust_state_city input[type="text"]{
	width: 300px;
}
.customer-address-form .form-list .cust_zip_country input[type="text"]{
	width: 190px;
}
.customer-address-form .form-list .cust_zip_country select{
	width: 190px;
}
.marketplace-seller-addprofile .form-list > li{
	display: inline-block;
}
.customer-account-edit .form-list > li{
	display: inline-block;
	vertical-align:middle;
}
.customer-account-edit .form-list .field.name-firstname{
	display: inline-block;
	vertical-align:top;
}
.customer-account-edit .form-list .field.name-lastname{
	display: inline-block;
	vertical-align: middle;
}
.customer-account-edit .form-list .field, .form-list .wide, .form-list .control{
	margin-bottom: 0 !important;
}
.customer-account-edit .form-list .field{
	display: inline-block;
}
.customer-account-edit .form-list .control{
	margin-left: 14px;
}
.customer-account-index .block.block-account:last-child .block-content ul li:nth-child(5){
	/*display: none;*/
}
.customer-account-index .block.block-account:last-child .block-content ul li:nth-child(6){
	/*display: none;*/
}
.customer-account-index .block.block-account:last-child .block-content ul li:nth-child(7){
	/*display: none;*/
}
.cms-contact-us #contactForm{
	padding: 0 25px;
}
.marketplace-product-new .my-account .validation-advice{
	width: 200px !important;
}
.marketplace-order-vieworder .my-account #shippment_update_info .shipment_update_total_orders{
	width: 724px;
}
.marketplace-order-vieworder .my-account .mp_view_order_back{
	width: 724px;
}
.mp_seller_sales_report_wr .select2.select2-container.select2-container--default{
	width: 108px !important;
}
.category_banner .catalog_banner_top .description {
    color: #000;
    display: inline-block;
    font-family: "Gotham Book";
    font-size: 13px;
    left: 27px;
    position: absolute;
    right: 0;
    top: 69px;
    width: 543px;
}
#template_home .feature_module .module:hover .text_cta {
	background:#fff;
}
.cta_container.cta_left > a .text_cta:hover{
	background:#000 !important;
	color: #fff;
	font-weight: normal;
}
.cta_container.cta_right > a .text_cta:hover{
	font-weight: normal;
	color: #fff;
	background:#000 !important;
}
.marketplace-seller-transactiondetail .transaction-detail {
   display: inline-block;
    height: auto;
    width: 30%;
    margin: 0 0 10px;
}
.marketplace-seller-transactiondetail .my-account{
	padding: 10px;
}
.marketplace-seller-transactiondetail .top_amount{
	padding: 0 15px 0 0 !important;
}
.a-center {
    text-align: center !important;
    width: 300px !important;
}
/*.marketplace-seller-transactiondetail tr{
	display: block;
}*/
/* Ali css Ends  ===========================================================*/
