/**
* HOME PAGE STYLES
*/

body.cms_home .bordered_header span,  #template_text h1 span {
	text-transform: uppercase;
	font-size: 18px;
	width: 100%;
	display: block;
	text-align: center;
}
body.cms_home .bordered_header,  #template_text h1 {
	border-top: none;
	position: relative;
	margin: 32px auto;
	color: #000;
	display: block;
	text-align: center;
}
body.cms_home .product_scroller ul li {
	width: 90px;
}

.top_features .module_grid .logo_scroller ul li { 
	width: 220px;
}

/**
*	HOME PAGE STYLE END
*/




/**
* HOME PAGE STYLES
*/

body.cms_home .bordered_header span,  #template_text h1 span {
	text-transform: uppercase;
	font-size: 18px;
	width: 100%;
	display: block;
	text-align: center;
}
body.cms_home .bordered_header,  #template_text h1 {
	border-top: none;
	position: relative;
	margin: 32px auto;
	color: #000;
	display: block;
	text-align: center;
}
body.cms_home .product_scroller ul li {
	width: 90px;
}

.top_features .module_grid .logo_scroller ul li { 
	width: 220px;
}

/**
*	HOME PAGE STYLE END
*/

/* product detail page Starts */
.product-view .product-shop .product-name .h1 {
	color: #42abc7;
	font-weight: bold;
	font-size: 19px;
	line-height: 21px;
	margin: 0 0 2px;
	text-align: left;
	text-transform: uppercase;
}
.product-view .product-shop .product-name {
	margin: 0;
}
.product-view .short-description {
	color: #000;
	font-size: 13px;
	font-weight: 500;
	line-height: 15px;
	margin: 0 ;
}
.product-view .short-description h2 {
	text-transform: capitalize;
}
.product-info-wr .price-info .price-box {
	padding: 0;
	margin: 10px 0;
}
.product-info-wr .price-info {
	padding: 0 ;
	margin: 0 ;
}
.product-info-wr .price-info .regular-price .price {
	color: #000;
	font-size: 16px ;
	font-weight: bold;
	line-height: 16px;
	margin: 0px;
}
.product-info-wr .delivery {
	display: inline-block;
	color: #42abc7;
	float: left;
	font-size: 12px;
	line-height: 14px;
}
.detailpage_top_section {
}
.topsectionright {
}
.collateral-tabs .tab {
	display: block ;
}
.collateral-tabs .tab-container {
	display: block ;
}
.catalog-product-view .product-swatches-container a.active {
	box-shadow: none ;
}
.catalog-product-view .product-swatches-container li a {
	border: 1px solid #fff ;
}

/* product detail page Ends */


/* Alii css Ends  ===========================================================*/

/* product detail page Starts */
.product-view .product-shop .product-name .h1 { color: #42abc7;
	
    font-size: 24px;
	font-family: 'Gotham Bold';
    line-height: 21px;
    margin: 0 0 2px;
    text-align: left;
    text-transform: uppercase;}
.product-view .product-shop .product-name { margin: 0;}
.product-view .short-description { color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    margin: 0 ;
	}
.product-view .short-description h2 { text-transform:  capitalize;}
.product-view .product-info-wr .price-info .price-box { padding: 0 ; margin: 10px 0 ;}
.product-view .product-info-wr .price-info { padding: 0 ; margin: 0 ;}
.product-view .product-info-wr .price-info .regular-price .price {  color: #000; font-size: 16px ; font-weight: bold;    line-height: 16px; margin: 0px;}
.product-view .product-info-wr .delivery { display: inline-block; color: #42abc7; float:left;
    font-size: 12px;
    line-height: 14px;}
.product-view .price-box .old-price .price { font-family: 'Gotham Book';}
.product-view .price-box .special-price, .product-view .price-box .price { font-family: 'Gotham Bold'; font-size: 15px; }
.product-view .product-info-wr { float: left; width: 100% ;}
.product-view .detailpage_top_section  { float: left; width: 100%; }
.product-view .topsectionright { float: right; width: 60% ;}
.product-view .topsectionleft { float: left; width: 60% }

.product-view .linker_seller strong { font-weight: normal; color: #000;} 
.product-view .linker_seller a { color: #42abc7; font-weight: normal;}
.product-view .all_reviews_details_wr { margin: 0 ; float: left; width: 100%;}
.product-view .all_reviews_block { margin: 0 ;}
.product-view .all_reviews_details_wr .all_reviews_block { width: 66px; height: 14px;}

.catalog-product-view .product-view .product-essential .product-shop .extra-info .linker_seller {  background: none ;}

.product-view .sellerMessageDetailPage { background: #42abc7; padding: 0 24px; margin: 5px 0; display: inline-block; }
.product-view .sellerMessageDetailPage a { margin: 4px 0 ;  display: inline-block; color: #fff; 
background: url("images/sellermessageimg.png") no-repeat left center; padding: 0 25px; 
}
.product-view .linker_seller { padding: 0px ; margin: 0 ;}
.linker_seller address {}
.linker_seller address a { color: #000 ; background: url("images/locationmapsign.png")  no-repeat left center; padding: 2px  0 2px 20px;}
.product-view .product-shop .extra-info { padding: 0;}
.catalog-product-view .product-view .product-essential .product-shop .extra-info { width: 36% ; margin-top: 2px;}
.collateral-tabs .tab { display: block ;}
.collateral-tabs .tab-container { display: block ;}
.catalog-product-view .product-swatches-container a.active { box-shadow: none ;}
.catalog-product-view .product-swatches-container li a { border: 1px solid #fff ;}

.product-view #product-options-wrapper dl dt { line-height: 10px;}
.product-view #product-options-wrapper dl .selected-label { display: none;}

.product-view .product-options-block { width: 100%;}
.product-view #product-options-wrapper dt label { font-size: 14px; text-transform: uppercase; padding: 16px 0 5px; font-weight: bold; border-top: 1px solid #cccccc;}
.product-view #product-options-wrapper dl .option-container { padding: 0; margin: 0;}
.product-view #product-options-wrapper .product-swatches-container { padding: 0; margin: 0;}
.product-view #product-options-wrapper .option-container .clearer { line-height: 0;}
.product-view .product-shop .product-options-bottom .add-to-cart-buttons { width: 100%;}
.product-view .product-shop .add-to-cart-buttons { width: 100%; margin: 10px 0 0 0;}
.product-view .product-shop  .add-to-cart-buttons .button { width: 100%; background: #42abc7; font-size: 16px;}
.product-view #product-options-wrapper p.required { display: none;}
.product-view #product-options-wrapper .product-swatches-container li a { border-radius: 0; border: 1px solid #ddd;}
.product-view .qty-wrapper { float: left; width: 15%; margin: 10px 0 0 0;}
.product-view .product-options-bottom .qty-wrapper { float: left; width: 15%; margin: 0px 0 0 0;}
.product-view .product-options-bottom .add-to-cart-buttons { float: left; width: 100%; padding: 0; margin: 0;}
.product-view .swatch-label.active.selected { background: #000 ; color: #fff ; }
.product-view .detailpagewrrapperouter {position: relative; right: 0px; top: -100px;}
.product-view .detailpagewrrapper { position: absolute; width: 102px; right: 0;}
.product-view .detailpagesizeguid { border: 1px solid #000; }
.product-view .detailpagesizeguid a { font-size: 12px; color: #000; font-family: 'Gotham Bold'; padding: 3px 13px; width: 110px; display: block;}
.product-view .unavailableblock { font-family:'Gotham Book'; font-size: 11px; padding: 8px 4px; }
.product-view .unavailableblock a { color: #000;}
.product-view #label-attribute-148 { margin-bottom: 45px; }
.product-view .configurabe_size_qty #sizecoutry { width: 194px; float: left; margin-right: 14px;
	-moz-appearance: none;
	background: rgb(255, 255, 255) url("images/arrow_down_black.png") no-repeat scroll 177px 10px;
	border: 0 none;
	border-radius: 0;
	color: #000;
	font-size: 13px;
	height: 28px;
	line-height: 1;
	border: 1px solid #a1a1a1;
	}
.product-view .configurabe_size_qty { float: left; margin: -86px 0 0 0; position: absolute;}
.product-view #qty { width: 70px;  -moz-appearance: none; background: rgb(255, 255, 255) url("images/arrow_down_black.png") no-repeat scroll 52px 10px;   border: 0 none;  border-radius: 0;  color: #000; font-size: 13px; height: 28px; 
    line-height: 1;	border: 1px solid #a1a1a1;}
.product-view .product-img-box .product-image { border: none;}
.product-view  .bx-wrapper { border: none; background:none; box-shadow: none;}

.product-view .bx-wrapper ul li { text-align: center;}
#fancybox-link { border: none ; right: 268px ; background: none ; bottom: -6px ; }

.product-view .product-shop {
    width: 58%;
}
#attribute-148-container ul li a { border: 1px solid #ddd ;}
.product-view .product-options-block #product-options-wrapper { padding-bottom: 10px;} 
.product-view .product-img-box .product-image:hover { border: none;}
.detailpage_attribute_bottom { display: inline-block; margin: 6px 0 0 0; width: 100%;}
.product-view .product-options-block .product-options-bottom { padding-bottom: 0px;}
.product-view .add-to-cart { margin-bottom: 0;}
.product-view .attribute_description_text { font-weight: normal; font-size: 12px; margin: 0 0 14px 0; color: #000; font-family: 'Gotham Book';}
.product-view .detailpage_attribute_bottom h2 { font-family: 'Gotham Bold'; color: #000; display: block; border-top: 1px solid #cccccc; padding: 14px 0  6px 0; font-size: 14px; margin-top: 6px; cursor: pointer;}
.product-view #product-attribute-specs-table { display: block; }
.product-view #product-attribute-specs-table tr.even, table.data-table thead tr { background: none;}
.product-view #product-attribute-specs-table, 
.product-view #product-attribute-specs-table td, 
.product-view #product-attribute-specs-table tr, 
.product-view #product-attribute-specs-table th
{ border: none;  font-family: 'Gotham Book'; color:#000;}
.product-view #product-attribute-specs-table th { padding-left: 0 ;}
.product-view #product-attribute-specs-table th,
.product-view #product-attribute-specs-table td { padding: 2px 0 ;}
.product-view img.product-image-zoom-in { height:auto ;}
.product-view p.required, .product-view .validation-advice, .product-view #configurable_price_validate_err_msg { font-size: 10px; padding: 0; margin: 0; position: absolute; margin-top: -3px;}
h2.expanded {}
h2.expanded:after {content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	position: absolute;
	right: 0;
	}
h2.collapsed:after {content: "\f067";
    font-family: FontAwesome ;
    font-style: normal;
    font-weight: normal;
	position: absolute;
	right: 0;
	}

.modal {}

#myModalSizeunavailable { width: 700px; height: 345px; margin: auto; overflow: hidden;}
#myModalSizeunavailable .modal-body { min-height: 246px; overflow: hidden;}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
#closebtnsizeguid .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    margin: 0 auto;
	min-height: 600px ;
}
#myModalSize { width: 700px; margin: auto; height: 600px}
#myModalSize .modal-body { height: 490px; overflow: scroll; overflow-x: hidden;}
.closebtnsizeguid {
    position: absolute;
    right: 2px;
    top: 2px;
	border: none;
}
.closebtnsizeguid:hover { background: #fff;}
/* product detail page Ends */

.pagesuccessblock { border: 1px solid #e1dfda; text-align: left ; padding: 20px 10px; color: #666; }
.pagesuccessblock a { color: #000; font-weight: bold; font-size: 16px;}
.checkout-onepage-success .buttons-set button.button { float: left; }
.checkout-onepage-success .buttons-set { border: none;} 
.page-title h1, .page-title h2, .product-name h1, .product-name .h1 { border: none; text-align: left;}
.pagesuccessblock h2 { color: #000; padding: 20px 0;}


.category_banner .catalog_banner_top img.cat_banner_img { width: auto; }
#header-cart { display: inline-block 
}
#header-cart { background: #eee; color: #000; padding: 8px; border: 1px solid #ddd; width: 270px;}
#header-cart a { color: #000;}
#site_header #cart_review_container .minicart-wrapper  { }
#site_header #cart_review_container .minicart-wrapper #cart-sidebar { font-size: 14px;}
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details .product-name {}
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details .info-wrapper {}
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details .item-options {}
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details > * { font-size: 10px; color: #333;}
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details .info-wrapper th { min-width: 80px; font-family: 'Gotham Bold'; }
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details p.product-name a { color: #000 ;}
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details .info-wrapper td { 
padding: 0; text-align: left;}
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details .info-wrapper .qty.cart-item-quantity { padding: 0; margin: 0; background: #eee;}
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details dl dt {  font-family: 'Gotham Bold';  min-width: 80px; padding: 0; margin: 0;}
#site_header #cart_review_container .minicart-wrapper #cart-sidebar .product-details dl dd {
padding: 0; text-align: left;}

#site_header #cart_review_container .minicart-wrapper .block-content {}
#site_header #cart_review_container .minicart-wrapper .block-content .subtotal { float: left ; width: 100% ; padding: 14px 0; border-top: 1px solid #ddd;}
#site_header #cart_review_container .minicart-wrapper .block-content .subtotal span { float: left ; width: 48% ; font-size: 15px;}
#site_header #cart_review_container .minicart-wrapper .block-content .subtotal .price { text-align: right;}
#site_header #cart_review_container .minicart-wrapper .minicart-actions { float: left; width: 100%;}
#site_header #cart_review_container .minicart-wrapper .minicart-actions .cart-link { display: inline-block; width: 100%; background: #333; color: #fff; text-align: center; padding: 10px; margin: 5px 0;}
#site_header #cart_review_container .minicart-wrapper .minicart-actions .checkout-types { float: none;}
#site_header #cart_review_container .minicart-wrapper .minicart-actions .checkout-types .checkout-button { color: #fff ;}
#site_header #cart_review_container .minicart-wrapper .minicart-actions .checkout-types .checkout-button:hover { background: #333;}


.featuredbrands {}
.featuredbrands h1 { color: #000;  font-family: 'Gotham Bold'; font-size: 18px;}
.featuredbrands #ca-container { padding: 0 ; width: 100% ; margin-top: 10px;}
.featuredbrands #ca-container .ca-item { width: 300px; margin-bottom: 8px;}

.customer-account .sidebar ul li.active { background: #f1f1f1 ;}
.customer-account input[type="checkbox"], .customer-account input[type="radio"] { width: auto;}
.customer-account #buyer-seller label { padding-left: 0;}
.customer-account .limiter { padding-left: 5px;}
.customer-account .pager { float: left; width: 100%; }
.customer-account .limiter { }
.customer-account .limiter label { display: inline; }
.customer-account .count-container { float: right; margin-right: 14px;}
.customer-account #my-orders-table tr.first { border-top: 1px solid #d9dde3 ;}
.customer-account #my-orders-table thead th, #my-orders-table tbody td { border: none;}
.customer-account #my-orders-table thead th { padding: 15px 10px ;}
.customer-account #my-orders-table tbody tr.odd td { background: #F5F5F5;}

.customer-account select {
	-moz-appearance:none;
	-webkit-appearance: none;
	appearance:none;
    background:  url("../images/arrow-01-.png") no-repeat scroll right 6px center;
    border: 1px solid #d5d5d5;
    height: 30px;
    width: auto;
	padding: 0 25px 0 5px;
}
#mp_top_nav { width:33%;  display: inline-block; float: right; font-family: 'Gotham Bold'; color: #363636; margin-right: 16px }
#mp_top_nav span { font-weight: bold; font-size: 14px; color: #000;}
#mp_top_nav a { padding-bottom: 0px; padding-top: 2px}
#mp_top_nav > li { margin-left: 10px;}

#mp_top_nav ul::after { border: none; height:8px ; width: 12px;background:  url("images/arrowtop_menu.png") no-repeat; background-position: bottom center;   background-size: 12px; left: 50%;}

#mp_top_nav .mp_sellers_tab > div {
  margin-top: 5px;
    padding: 10px ;
    position: relative;
    top: -12px;
	 }
#mp_top_nav li.mp_sellers_tab a:hover span { color: #000 ;}
#mp_top_nav li.mp_sellers_tab ul { border: 1px solid #bdbdbd;  position: absolute; padding:10px; background: #fff;  }
#mp_top_nav li.mp_sellers_tab ul li { float: left; width: 100%;}
#mp_top_nav li.mp_sellers_tab ul li a:hover ul { display: block ;}
#mp_top_nav li.mp_sellers_tab ul li span { font-size: 12px; font-family: 'Gotham Book'; padding: 2px 0;}
#mp_top_nav li.mp_sellers_tab ul li a { padding: 2px 0; margin: 0; color: #000 ;}
#mp_top_nav li.mp_sellers_tab ul li a:hover { padding: 2px 0; margin: 0; color: #000 ;}
#mp_top_nav li.mp_sellers_tab ul li a:hover span {color: #000 ; padding: 2px 0;}

/*.homePageMiddleCats .nav-primary li.level0 ul { display: block;}*/

.mobile_home_page_blocks .two-cloumn{
	overflow:hidden;
	margin:0 0 10px;
}
.mobile_home_page_blocks .cloumn{
	float:left;
	position:relative;
}
.mobile_home_page_blocks .cloumn .caption,
.mobile_home_page_blocks .cloumn .add{
	position:absolute;
	font-size:17px;
	line-height:19px;
	color:#fff;
	font-weight:800;
	top:38%;
	bottom:0;
	left:14px;
	right:0;
	text-transform:uppercase;
}
.mobile_home_page_blocks .cloumn .add{
	left:49%;
	top:46%;
}
.mobile_home_page_blocks .cloumn .caption a,
.mobile_home_page_blocks .cloumn .add a{
	color:#fff;
}
.mobile_home_page_blocks .cloumn .caption h2,
.mobile_home_page_blocks .cloumn .add h2{
	width:70px;
	border-bottom:1px solid #ccc;
}
.mobile_home_page_blocks .cloumn .add h2{
	width:35px;
}
.mobile_home_page_blocks .three-cloumn{
	overflow:hidden;
	height:200px;
}
.mobile_home_page_blocks .link{
	position:relative;
	float:left;
}
.mobile_home_page_blocks .link .post{
	position:absolute;
	font-size:15px;
	line-height:17px;
	background:#000;
	width:100px;
	height:auto;
	left:8px;
	top:auto;
	bottom:-21px;
	right:0;
	text-transform:uppercase;
	text-align:center;
	padding:5px 0;
}
.mobile_home_page_blocks .link .post a{
	color:#fff;
}

.mobile_home_page_blocks .site_width_container { width: 100%;}
.a-center.no_product_content, no_product_content {
	color: #f0535e;
}
.seller_link_dropdwon_header { display: none ;}
/** TODO: Temparary Hiding Remove it when fixed **/
/*.onestepcheckout_datafields .sp-methods label[for="p_method_telrtransparent"]{display: none;}*/
.catalog-category-view.categorypath-kids .toolbar.top_toolbar{display:none;}